{% extends 'main/base.html' %}

{% block heading %}
    <title>Login Today!</title>
{% endblock %}

{% block body %}
    <div class="center-container">
        <form method="post" class="authentication-form">
            {% csrf_token %}
            <h2>Login</h2>
            <input placeholder="Username" type="text" name="username" required>
            <input placeholder="Password" type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
